@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}

html, body{
  background-color: #fcf7ff;
}

/* The navigation bar */
  .Mnavbar {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: #fcf7ff;
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
      opacity: 70%;
      text-decoration: none;
    }
    
    /* Links inside the navbar */
    .navbar a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* Change background on mouse-over */
    .navbar a:hover {
      background: #ebdef2;
      color: black;
    }

/*Footer*/

/* Main content */
.main{
  /* height: 106vh;*/
  padding-top: 200px;
  height: 75vh;
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100%;
   background-color: #fcf7ff;

   /* TopLeft | TopRight | BottomLeft | BottomRight */
  /* border-radius: 0px 0px 48px 48px;
   box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.3);*/
}

.intro{
   height: 500px;
  /* width: 650px;*/
   width: 1000px;
   margin-left: 100px;
   text-align: center;
}

   .intro h2{
       margin-bottom: 50px;
       text-align: left;
   }
   .IText{
       font-size: 25px;
       font-weight: 700;
       line-height: 50px;
   }